.App {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1{
  font-size: 8vw;
  width: 90%;
  color: #ABB2B9;
  font-family: Arial Narrow Bold;
}